In [1]:
import pandas as pd

In [2]:
!ls *.tsv

311_Service_Requests_-_Pot_Holes_Reported.tsv

In [3]:
df = pd.read_csv('311_Service_Requests_-_Pot_Holes_Reported.tsv', sep='\t')

In [4]:
df.columns

Index(['creation_date', 'service_request_number', 'most_recent_action',
       'potholes_filled', 'street_address', 'zip', 'latitude', 'longitude'],
      dtype='object')

In [5]:
len(df[df['most_recent_action'] == 'WM CDOT Recommended Restoration Transfer Outcome'])

78

In [6]:
len(df), len(df.dropna())

(560478, 386935)

In [7]:
nona = df.dropna()
len(nona[nona['most_recent_action'] == 'WM CDOT Recommended Restoration Transfer Outcome'])

78

In [8]:
nona.head()

,creation_date,service_request_number,most_recent_action,potholes_filled,street_address,zip,latitude,longitude
9,01/01/2011,11-00002021,Pothole Patched,5.0,1642 W 99TH ST,60643.0,41.714035,-87.665096
10,01/01/2011,11-00002273,Pothole Patched,7.0,3500 S PULASKI RD,60623.0,41.830224,-87.724352
11,01/01/2011,11-00002650,Pothole Patched,5.0,7851 S DR MARTIN LUTHER KING JR DR,60619.0,41.751434,-87.614820
12,01/01/2011,11-00002654,Pothole Patched,3.0,15 E 79TH ST,60619.0,41.750865,-87.623890
13,01/01/2011,11-00002656,Pothole Patched,4.0,359 E 79TH ST,60619.0,41.750992,-87.615824

In [13]:
nona[nona['potholes_filled'].astype('int') != nona['potholes_filled']]

,creation_date,service_request_number,most_recent_action,potholes_filled,street_address,zip,latitude,longitude
151742,04/15/2013,13-00430533,Pothole Patched,0.30,54 E BANKS ST,60610.0,41.906906,-87.626699
233988,04/02/2014,14-00468179,Pothole Patched,0.36,2500 W 16TH ST,60608.0,41.859446,-87.688415
273011,06/11/2014,14-00882934,Pothole Patched,0.30,8129 S SACRAMENTO AVE,60652.0,41.745348,-87.697242

In [14]:
nona[nona['most_recent_action'] == 'WM CDOT Recommended Restoration Transfer Outcome'].head()

,creation_date,service_request_number,most_recent_action,potholes_filled,street_address,zip,latitude,longitude
3537,01/07/2013,13-00026354,WM CDOT Recommended Restoration Transfer Outcome,0.0,10300 S MICHIGAN AVE,60628.0,41.707182,-87.620361
3892,01/08/2013,13-00029753,WM CDOT Recommended Restoration Transfer Outcome,0.0,7551 S LANGLEY AVE,60619.0,41.757005,-87.607654
16357,01/31/2011,11-00147180,WM CDOT Recommended Restoration Transfer Outcome,0.0,5001 S MARSHFIELD AVE,60609.0,41.803040,-87.665901
28039,02/17/2012,12-00215997,WM CDOT Recommended Restoration Transfer Outcome,0.0,5014 S RIDGEWAY AVE,60632.0,41.801999,-87.717425
105159,06/06/2012,12-01036230,WM CDOT Recommended Restoration Transfer Outcome,0.0,8700 S ASHLAND AVE,60620.0,41.735697,-87.663210

In [15]:
df[df['most_recent_action'] == 'WM CDOT Recommended Restoration Transfer Outcome'].head()

,creation_date,service_request_number,most_recent_action,potholes_filled,street_address,zip,latitude,longitude
3537,01/07/2013,13-00026354,WM CDOT Recommended Restoration Transfer Outcome,0.0,10300 S MICHIGAN AVE,60628.0,41.707182,-87.620361
3892,01/08/2013,13-00029753,WM CDOT Recommended Restoration Transfer Outcome,0.0,7551 S LANGLEY AVE,60619.0,41.757005,-87.607654
16357,01/31/2011,11-00147180,WM CDOT Recommended Restoration Transfer Outcome,0.0,5001 S MARSHFIELD AVE,60609.0,41.803040,-87.665901
28039,02/17/2012,12-00215997,WM CDOT Recommended Restoration Transfer Outcome,0.0,5014 S RIDGEWAY AVE,60632.0,41.801999,-87.717425
105159,06/06/2012,12-01036230,WM CDOT Recommended Restoration Transfer Outcome,0.0,8700 S ASHLAND AVE,60620.0,41.735697,-87.663210